.Cell {
  width: 100px;
  height: 100%;
  border-width: 1mm;
  border-color: black;
}

.Cell-active {
  background-color: orange;
}

.Cell-inactive {
  background-color: lightcoral;
}

.Cell-blank {
  background-color: black;
}