.WordList {
  text-align: left;
  list-style: none;
  margin: auto;
  display: flex;
}

.WordList-btn {
  margin-left: 0;
  top: 0;
  position: sticky;
  background-color: peachpuff;
  cursor: pointer;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  text-align: center;
}

.WordList-collapsible {
  position: fixed;
  margin: auto;
  width: 25%;
  height: 100%;
  overflow: auto;
  top: 0;
  text-align: left;
}

.WordList-empty {
  text-align: center;
}

.WordList-collapsible .react-scrollable-list {
  background-color: peachpuff;
}